@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

@font-face {
	font-familiy: 'Roboto', sans-serif;
}

body, html, p { 
	margin: 0px; 
	padding: 0px; 
	width: 100%;
	height: 100%;
	position: fixed; 
	font-family: Roboto, arial, verdana, sans serif;
} 
  
canvas { 
	border: 0px solid #444; 
	min-width: 300px;
	margin: 0px; 
} 
