@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

@font-face {
	font-familiy: 'Roboto', sans-serif;
}

body, html, p { 
	margin: 0px; 
	padding: 0px; 
	width: 100%;
	height: 100%;
	position: fixed; 
	font-family: Roboto, arial, verdana, sans serif;
} 
  
canvas { 
	border: 0px solid #444; 
	min-width: 300px;
	margin: 0px; 
} 

div {
	max-width: 406px;
}

.button {
	background-color: lightgray; /* Green */
	border: 3px solid white;
	color: black;
	padding: 10px 10px;
	margin: 0px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 40px;
	font-family: Roboto, arial, verdana, sans serif;
}

.inactive {
	background-color: lightgray; /* Green */
	border: 3px solid white;
	color: darkgray;
	padding: 10px 10px;
	margin: 0px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 40px;
	font-family: Roboto, arial, verdana, sans serif;
}

.grid3 {
  margin: 2px;
  display:grid; 
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap:0px;
}

.grid5 {
  margin: 2px;
  display:grid; 
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap:0px;
}
